---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Carousal from "../components/Carousal.astro";
import { Image } from "astro:assets";
import cranium from "../assets/index-page/cranium.png";
import heart from "../assets/index-page/heart.png";
import jacket from "../assets/index-page/jacket.png";
import lock from "../assets/index-page/lock.png";
import apply from "../assets/index-page/apply.png";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
	</head>
	<body>
		<Header />
		<Carousal />
		<main>
			<section
				class="relative mx-auto max-w-[80%] min-h-32"
				id="floating-section">
				<div
					class="md:absolute bottom-0 left-0 right-0 bg-white md:flex md:flex-row flex-col justify-around items-center top-[-60pt] rounded-lg w-full shadow-md">
					<div class="flex items-center justify-center p-8 flex-1">
						<Image
							src={cranium}
							alt="Human Centered Systems"
							class="w-16 h-16 mb-2 md:mb-0 md:mr-4"
						/>
						<span class="p-4 text-2xl font-semibold text-gray-800 text-center"
							>Human Centered Systems</span
						>
					</div>
					<div class="w-full md:w-px bg-gray-300 md:self-stretch my-2 md:my-0 md:mx-2">
					</div>
					<div class="flex items-center justify-center p-8 flex-1">
						<Image
							src={heart}
							alt="Healthcare"
							class="w-20 h-20 mb-2 md:mb-0 md:mr-4"
						/>
						<span class="p-4 text-2xl font-semibold text-gray-800">Healthcare</span>
					</div>
					<div class="w-full md:w-px bg-gray-300 md:self-stretch my-2 md:my-0 md:mx-2">
					</div>
					<div class="flex items-center justify-center p-8 flex-1">
						<Image
							src={lock}
							alt="Security"
							class="w-20 h-20 mb-2 md:mb-0 md:mr-4"
						/>
						<span class="p-4 text-2xl font-semibold text-gray-800">Security</span>
					</div>
					<div class="w-full md:w-px bg-gray-300 md:self-stretch my-2 md:my-0 md:mx-2">
					</div>
					<div class="flex items-center justify-center p-8 flex-1">
						<Image
							src={jacket}
							alt="Wearables"
							class="w-[3.35rem] h-[3.35rem] mb-2 md:mb-0 md:mr-4"
						/>
						<span class="p-4 text-2xl font-semibold text-gray-800">Wearables</span>
					</div>
				</div>
			</section>
			<section
				class="flex flex-col items-center justify-center mx-4 md:mx-12 rounded"
				id="apply-section">
				<div class="m-4 md:m-8 shadow-lg flex flex-col md:flex-row rounded overflow-hidden">
					<div class="p-0 m-0 w-full md:w-1/2">
						<Image
							src={apply}
							alt="Application for CPS"
							class="w-full h-full object-cover"
						/>
					</div>
					<div
						class="bg-[#910052] text-white flex flex-col justify-center items-center px-4 md:px-8 py-8 md:py-0 w-full md:w-1/2">
						<h2 class="text-2xl md:text-4xl font-bold text-center">
							Apply for Research Internship
						</h2>
						<h4 class="text-lg md:text-xl text-gray-400 pt-4 text-center">
							Applications are now open
						</h4>
						<p class="text-white p-4 md:p-8 text-center">
							We provide our interns experiences that enable them to develop
							data-backed research aptitude towards new and exciting domains.
						</p>
						<button
							class="bg-gray-200 px-6 md:px-8 py-3 md:py-4 m-4 md:m-8 text-lg md:text-xl text-[#910052] font-bold hover:bg-gray-500 hover:bg-opacity-80 hover:text-gray-100 rounded-lg transition duration-300"
							disabled
							>Apply Now</button
						>
					</div>
				</div>
			</section>
		</main>

		<Footer />
	</body>
</html>
