---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Carousal from "../components/Carousal.astro";
// import Tab from "../components/Tab.astro";
import { Image } from "astro:assets";
import cranium from "../assets/index-page/cranium.png";
import heart from "../assets/index-page/heart.png";
import jacket from "../assets/index-page/jacket.png";
import lock from "../assets/index-page/lock.png";
import apply from "../assets/index-page/apply.png";
import News from "../components/News.astro";
import DomainSection from "../components/HomePage/DomainSection";
import SectionTitle from "../components/SectionTitle.astro";

import MotoCard from "../components/HomePage/MotoCard.astro";

import HeadingStyle1 from "../components/Headings/HeadingStyle1.astro";
import HeadingStyle2 from "../components/Headings/HeadingStyle2.astro";
import HeadingStyle3 from "../components/Headings/HeadingStyle3.astro";

import CardType2 from "../components/HomePage/CardType2.astro";
import CardType4 from "../components/HomePage/CardType4.jsx";

import EventDisplay from "../components/ContentSection/EventDisplay.astro";

import ButtonLarge from "../components/Buttons/ButtonLarge.astro";
import BlogDisplay from "../components/ContentSection/BlogDisplay.astro";

import { getCollection } from 'astro:content';
import CardDisplay from '../components/HomePage/CardDisplay.jsx';


import CPSLogoWhite from "../assets/lab-Identity/logo_cypsi_white.png";

// Load all markdown files in the 'domainsc' collection
const domains = await getCollection('domainsc');

var about_text =
	"The CyPSi Lab, established in 1999 at the Institute of Informatics and Communication (IIC) of University of Delhi has contributed to a wide range of domains from Educational Technologies, to scientific research papers and to Cyber Physical Systems (CPS) The lab offers an opportunity to be at the forefront of Research and Development (R & D) in Cyber Physical Systems (CPS) & allied disciplines and collaborate with research groups worldwide to deal with real life challenges. The research outcomes are further developed by Product and Service groups thereby promoting entrepreneurship and their delivery to intended audiences.";

var accordian_data = {
	"Human Centered Systems":
		"Cyberization is all pervasive today with technology-driven engineering systems having a significant presence in almost all spheres of life. In fact, with each passing year, they are evolving at a very fast pace in terms of AI, computational capacities and their scope of use. While they offer numerous benefits to society on one hand, the current state of cyberization is creating an intellectual challenge to envision, design and research Human-Centered Systems for the future. Since human-centered systems integrate CPS with various social units – organizations, communities and distinctive social processes and practices; our lab envisions meeting the research challenges of making them more usable and sustainable.",
	Healthcare:
		"The demand for remote healthcare is getting more crucial than ever even as CPSs are making spectacular advancements in this sector. It is piloting technologies and software to address challenging healthcare issues and revolutionizing how myriad healthcare issues are tackled. The CPS healthcare ecosystem has evolved in telemedicine, connected-health, mobile-health and intelligent health in the last two decades. Healthcare-Cyber Physical Systems (H-CPS) networks are available anywhere, anytime and to anyone with the means to digital access. Yet, they are to be rigorously explored and are a matter of high research interest.",
	"Cyber Security":
		"CPSs are closely integrated physical processes for networking, computation, feedback loops and comprise several tiny devices with sensing, computing and wireless communication capabilities. These enhanced functionality, automation, and connectivity also bring significant cybersecurity challenges to the CPS. Moreover,  extensive connectivity makes CPS vulnerable to cyber threats and attacks, making safety, security and privacy essential research issues.",
	Wearables:
		"The recent spectacular progress in Sensor technologies and allied materials, internet of Things (IoT), Informations and Technology (ICT) and microelectronic fabrication techniques have created a significant stimulus towards the development of smart wearable devices. As a result, this sector is witnessing an explosive growth offering huge market and research opportunities. Wearable devices are complex systems of sensors and cross-domain communication networks handling large amounts of data with real-time decision-making capabilities. In addition, they provide continuous autonomous service over a long period. Therefore, rigorous research in computing and design technologies is required to adequately overcome these challenges to satisfy the stringent demands of wearable devices.",
};



const CardList2 = [
  { itemText: 'PhD Programme', itemHref: 'https://www.du.ac.in/', bgImgUrl: 'https://cps.iic.ac.in/wp-content/uploads/2021/08/phd-programme.jpg' }, 
  { itemText: 'Research Internship', itemHref: 'https://cps.iic.ac.in/joinus', bgImgUrl: 'https://cps.iic.ac.in/wp-content/uploads/2021/08/internship.jpg' }, 
  { itemText: 'Incubation', itemHref: 'https://www.iic.ac.in/', bgImgUrl: 'https://cps.iic.ac.in/wp-content/uploads/2021/08/project-fellowships.png' }, 

];


---

<!doctype html>
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> -->
<html lang="en">
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
	</head>

	<body class="bg-white min-h-screen">

		<div class="flex flex-col h-screen justify-between">
			<Header />
			<main class="mb-auto mt-4 sm:mt-8">
				
				<section>
					<div class="bg-gray-800 w-[95%] sm:w-[98%] mx-auto p-2 sm:p-4">
						<div class="grid sm:grid-cols-5">
							<div class="sm:col-span-4 h-full">
								<Carousal />
							</div>
							<div class="sm:col-span-1 pt-4 mt-4 px-10 ">
								<div class="h-full flex flex-col items-start justify-end gap-2 pb-8">
									<img src={ CPSLogoWhite.src } alt="CyPSi - Logo - white" class=" md:scale-[1.75] w-[100px]  mx-auto my-8"/>
									<h2
										class="text-white font-poppins font-bold text-lg sm:text-2xl leading-2 sm:leading-2">
										About us
									</h2>
									<p class="text-left my-4 text-gray-300 text-xs pr-8">
										{about_text}
									</p>


								</div>
							</div>
						</div>
					</div>
				</section>
				
				<section>
					<!-- News Section -->
					<h2
						class="text-white font-bold text-lg sm:text-lg leading-5 sm:leading-4 mt-4">
						Latest News
					</h2>
					<div
						class="bg-gray-400 min-h-20 w-full max-w-[85%] m-4 rounded-sm">
						<News />
					</div>
				</section>





				<section>
					<div class="bg-white w-full flex flex-col justify-center min-h-[30rem]">
					  <div class="flex flex-col gap-14 my-10 items-center mx-auto">
						<HeadingStyle2 Text="Research Areas" Case="uppercase" ColorHex="var(--accent)" />
						
						<CardType4 client:load />

						<!-- <DomainCardDisplay1 /> -->
						
						<!-- Render the CardDisplay component and pass the domains data -->
						<!-- <CardDisplay domains={domains} /> -->


					  </div>
					</div>
				</section>
				  
				<!-- <section> -->
					<!-- component -->
					 <!-- <DomainCardDisplay1 /> -->

					<!-- Render the CardDisplay component and pass the domains data -->
					<!-- <CardDisplay domains={domains} /> -->

				<!-- </section> -->

				<section>
					<div class="flex flex-col gap-8 py-24 m-2 bg-[var(--gray-light)] ">
						
						<HeadingStyle1 Text="Upcoming Events" Case="uppercase" ColorHex="var(--accent)" styles="pb-4" />
						
						<EventDisplay styles="my-4"/>
						
						<ButtonLarge content="View Events" href="#" class="mt-4"/>

						<!-- <BlogDisplay styles="mt-4"/> -->
						
					</div>
				</section>

				<section>
					<div class="flex flex-col gap-8 py-24 m-2  ">
						
						<HeadingStyle3 Text="Lab Articles" Case="titlecase" ColorHex="var(--accent)" styles="pb-4" />
						
						<BlogDisplay styles="my-4"/>
						
						<ButtonLarge content="View All Atricles" href="#" class="mt-4"/>

						<!-- <BlogDisplay styles="mt-4"/> -->
						
					</div>
				</section>


				<section>
					<div class = "bg-[var(--gray-light)] w-full flex flex-col h-[30rem]  items-center justify-center">
						<div class = "flex flex-col gap-8">
    					<HeadingStyle1 Text="Collaborate with us" Case="uppercase" ColorHex="var(--accent)" LineColorHex="#0A0A0A"/>
						<CardType2 itemList={ CardList2 } />
						</div>
					</div>
				</section>

				<section>
					<MotoCard class=""/>
				</section>

			</main>
			<Footer />
		</div>
	</body>
</html>
